body {
  font-family: sans-serif;
}

/*.snake {
  display: inline-block;
  background-color: red;
}
*/
p.snake {
  background-color: green;
  color: green;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 5px;
}

p.apple {
  display: inline-block;
  background-color: red;
  color: red;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 5px;
}

p.blank {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 5px;
  color: white;
}
